.btn {
  font-size: 20px;
  padding: 14px 30px;
  align-items: center;
  gap: 5px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
  transition: .3s;
  font-weight: 700;
  position: relative;
  max-width: fit-content;
  font-family: "Neueplak-Text-Bold", sans-serif;

  &:hover {
    filter: brightness(.9);

    &::before {
      transform: translate(6px, -50%);
    }
  }

  &.btn-sm {
    padding: 12px 18px;
    font-size: 14px;
    transition: .3s;
  }
}

.btn-outline {
  border: 2px solid black;
  color: black;
}

.btn-primary {
  color: white;
  background-color: var(--primary);
  position: relative;
}

.btn-wrapper {
  position: relative;
  .btn-outline {
    color: var(--gray);
    border: 1px solid var(--gray);

    &:hover {
      opacity: .85;
      filter: unset;
    }

    &::before {
      content: "Call Us Now!";
      position: absolute;
      left: 50%;
      top: -12px;
      background-color: white;
      transform: translateX(-50%);
      font-size: 14px;
      z-index: 2;
    }
  }
}

.btn-arrow {
  color: var(--primary);
  font-family: "Neueplak-Semibold", sans-serif;
  border-bottom: 1px solid var(--primary);
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 576px) {
  .btn {
    font-size: 18px;
    padding: 12px 20px;
  }
}

@media (max-width: 382px) {
  .btn {
    font-size: 16px;
    padding: 10px 16px;
  }
}