.footer {
    background-color: #112559;

    .footer-top {
        padding: clamp(45px, 7vw, 80px) 0;

        .footer-links {
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
                a {
                    color: white;
                    transition: all .3s ease;

                    &:hover {
                        color: var(--primary-light);
                        padding-left: 5px;
                    }
                }
            }
        }

        .footer-links-1 {
            display: flex;
            flex-direction: column;
            gap: 15px;
            li {
                display: flex;
                gap: 8px;
                align-items: baseline;
                a {
                    color: white;
                }
            }
        }

        .footer-social-links {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            li {
                width: 46px;
                height: 46px;
                border-radius: 50%;
                border: 1px solid gray;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: var(--primary);
                    border-color: var(--primary);
                }
            }
        }

        .input-wrapper {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
                background: url('./envelop-icon-1.svg') center / cover repeat;
                width: 18px;
                height: 13px;
            }

            .input-control {
                width: 100%;
                background-color: transparent;
                outline: none;
                border: none;
                border-bottom: 1px solid rgba(128, 128, 128, 0.4);
                padding: 12px;
                padding-right: 40px;
                color: white;
            }
        }
    }

    .footer-bottom {
        position: relative;
        padding: 25px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #FFFFFF3D;
        }

        .bottom-links {
            display: flex;
            gap: 16px;
            align-items: center;
            a{
                display: block;
                padding-right: 16px;
                border-right: 1px solid white;

                &:nth-child(3) {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }
    }
}



@media (max-width:991px) {
    .footer {
        .footer-top {
            .footer-social-icons {
                flex-direction: column;
            }
        }

        .footer-bottom {
            flex-direction: column;
            gap: 15px;
            text-align: center;

            .bottom-links {
                flex-wrap: wrap;
                justify-content: center;
                a {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }
    }
}


@media (max-width:575px) {
    .footer {
        .footer-top {
            .footer-social-icons {
                flex-direction: row;
            }
        }
    }
}