.contact-sec,
.contact-sec-1 {
    .contact-form {
        border-radius: 8px;
        border: 1px solid #CCCCCC;
        padding: clamp(30px, 5vw, 50px);

        .contact-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }
    }
    .contact-form-1 {
        padding: 12px;
    }
}








@media (max-width:768px) {
    .contact-sec {
        .contact-form {
            .contact-buttons {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}