.product-sec {
    .product-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        .filter-btn{
            background-color: var(--gray-light);
            border-radius: 6px;
            padding: 4px 12px;
            display: flex;
            gap: 6px;
            align-items: center;
            font-size: 18px;
            width: fit-content;
            color: black;
        }
        .select{
            border-radius: 6px;
            padding: 6px 6px;
            outline: none;
            border: 1px solid gray;
        }
    }
}

