.slide-icon {
    background-color: var(--primary-light);
    padding: 20px 0;
    .main-slider {
        overflow: hidden;

        .inner-slider {
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: clamp(10px, 5vw, 50px);
            animation: slide 20s linear infinite alternate-reverse;

            &:hover {
                animation-play-state: paused;
            }

            @keyframes slide {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(-100%);
                }
            }

            img {
                object-fit: contain;
                object-position: center;
            }
        }
    }
}