@import "_reboot.scss";
@import "_all_components.scss";

// flax classes
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

// align classes
.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-white {
  color: white;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.max-width-880 {
  max-width: 880px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.mx-auto {
  margin: 0 auto;
}

.ms-auto {
  margin-left: auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 8px !important;
}

.mb-2 {
  margin-bottom: 16px !important;
}

.mb-3 {
  margin-bottom: 24px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mb-5 {
  margin-bottom: 40px !important;
}

.mt-0 {
  margin-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 16px;
}

.gap-3 {
  gap: 24px;
}

.gap-4 {
  gap: 32px;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fw-normal {
  font-weight: normal;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.text-primary {
  color: var(--primary);
}

.bg-center-cover-norepeat {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  border-radius: 8px;
  padding: clamp(20px, 4vw, 30px) clamp(15px, 4vw, 25px);
  border: 1px solid #BECEE7;
  height: 100%;

  &.shadow {
    box-shadow: 0px 4px 60px rgba(0, 0, 0, .08);
  }
}

.card-1 {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #C0C0C0;

  .content-wrapper {
    padding: 18px;

    &.icon-box{
      display: flex;
      gap: 8px;
      align-items: center;
    }

    .card-heading {
      font-size: clamp(16px, 1vw, 20px);
      font-family: "Neueplak-Text-Bold", sans-serif;
    }
  }
}

.card-2{
  border: 1px solid #BECEE7;
  border-radius: 8px;
  padding: 8px;

  .content-wrapper{
    padding: 8px;
    position: relative;
    .date-wrapper {
        background-color: var(--primary);
        color: white;
        border-radius: 6px;
        padding: 6px 16px;
        text-align: center;
        position: absolute;
        right: 16px;
        top: -30px;
    }
}
}

.card-3{
  border: 1px solid #BECEE7;
  border-radius: 8px;
  padding: 8px;

  .input-wrapper {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background: url('./../assets/envelop-black.svg') center / cover repeat;
        width: 18px;
        height: 13px;
    }

    .input-control {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.4);
        padding: 12px;
        padding-right: 40px;
        color: white;
    }
}

  .content-wrapper{
    padding: 8px;
    position: relative;
    .date-wrapper {
        background-color: var(--primary);
        color: white;
        border-radius: 6px;
        padding: 6px 16px;
        text-align: center;
        position: absolute;
        right: 16px;
        top: -30px;
    }
}
}
.default-sec {
  .main-title {
    margin-bottom: clamp(22px, 6vw, 46px);
  }

}

.half-sec {
  &.content-right {
    .content-wrapper {
      padding-left: 48px;
    }
  }

  &.content-left {
    .content-wrapper {
      padding-right: 48px;
    }

  }
}


.main-title {
  position: relative;
  z-index: 1;
  text-transform: capitalize;
}

.line-bg {
  background-image: url('./assets/img/sec-line-bg.webp');
  background-repeat: repeat;
  background-position: top center;
}

.input-wrapper {
  position: relative;
  margin-bottom: 12px;

  &.dark {
    .form-label {
      background-color: var(--navy-blue);
      color: white;
    }

    .form-control {
      color: white;
    }
  }

  &.gray-light {
    .form-control {
      border-color: var(--gray-light);
      background-color: var(--gray-light);
    }
  }

  &:hover {
    .form-label {
      color: var(--primary);
    }
  }

  .form-label {
    position: absolute;
    left: 17px;
    top: -5px;
    background-color: white;
    padding: 0 8px;
    transition: .3s;
  }

  .form-control {
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    width: 100%;
    outline: none;
    background-color: transparent;
    padding: 12px 17px;
    margin-top: 8px;
    transition: .3s;

    &:focus,
    &:hover {
      border-color: var(--primary);
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// heading underline
.underline {
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    width: 100%;
    height: 7px;
    background-color: #52B8BB;
    position: absolute;
    bottom: 6px;
    left: 0;
    z-index: -1;
  }
}

// read more Toggle button

::-webkit-scrollbar {
  width: 9px;
  height: 0.6em;
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 100vw;
  border: 2px solid transparent;
  background-clip: content-box;
}

.cursor-pointer {
  cursor: pointer;
}

.list-style-disc {
  padding-left: 30px;

  li {
    list-style: disc;
  }
}

.list-with-icon {
  .list-item {
    position: relative;
    padding-left: 26px;
    &::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 16px;
      left: 0;
      top: 4px;
      background-image: url('./list-icon.svg');
    }
  }
}

.position-relative {
  position: relative;
}

.z-1 {
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.wpcf7 .wpcf7-spinner {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
}

.wpcf7 .wpcf7-not-valid-tip {
  margin-top: 6px;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px;
  text-align: start !important;
}

.wpcf7 .wpcf7-response-output {
  padding: 8px 10px !important;
  border-radius: 10px;
  margin-bottom: 0 !important;
  margin-top: 18px !important;
}

.wpcf7 form.invalid .wpcf7-response-output {
  background-color: #fff9eb;
  color: #ffb900;
}

.wpcf7 form.sent .wpcf7-response-output {
  background-color: #eefdef;
  color: #46b450;
}

.wpcf7 form.failed .wpcf7-response-output {
  color: #dc3232;
  background-color: #ffe6e6;
}

@media (min-width: 991px) {
  .d-lg-block {
    display: block !important;
  }

  .flex-lg-row {
    flex-direction: row;
  }
}

@media (max-width:991px) {
  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }



  .half-sec {
    &.content-right {
      .content-wrapper {
        padding-left: 0;
      }
    }

    &.content-left {
      .content-wrapper {
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .underline {
    &::before {
      height: 4px;
      bottom: 4px;
    }
  }
  .card {
    flex-direction: column;
    text-align: center;
  }
  .card-2{
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .sec-badge {
    padding: 10px 14px;
  }
  .card-1{
    .content-wrapper{
      &.icon-box {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}