.value-sec {
    .value {

        &.value-left {
            .icon {
                left: 0;
                top: -2px;
            }

            .content {
                border-radius: 50px 0 0 50px;
            }

            p {
                padding-left: 50px;
            }
        }

        &.value-right {
            .value-inner{
                text-align: left;
            }
            .icon {
                right: 0;
                top: -2px;
            }

            .content {
                border-radius: 0 50px 50px 0;
            }

            p {
                padding-right: 50px;
            }
        }

        .value-inner {
            position: relative;
            z-index: 2;
            text-align: right;
            margin-bottom: 16px;

            .icon {
                background-color: var(--secondary);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
                position: absolute;
            }

            .content {
                background-color: var(--primary);
                color: white;
                font-size: 20px;
                font-weight: bold;
                padding: 8px;
                position: relative;
                z-index: -1;
                margin-bottom: 16px;

            }
        }

        .value-bottom {
            .content {
                &::after {
                    display: none;
                }
            }
        }

    }

    .value-angle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}


@media (max-width:992px) {
    .value-sec {
        .value-angle {
            display: none;
        }
        .value-left {
            .value-inner{
                text-align: left;
                .icon {
                    left: 0;
                }
                .content {
                    border-radius: 50px 0 0 50px;
                    padding-left: 60px;
                }
                p {
                    padding-left: 60px;
                }
            }
        }
        .value-right {
            .value-inner{
                .icon {
                    left: 0;
                }
                .content {
                    border-radius: 50px 0 0 50px;
                    padding-left: 60px;
                }
                p {
                    padding-left: 60px;
                    padding-right: 0;
                }
            }
        }
    }
}